.container {
    position: relative;
    margin: 0 auto;
    padding: 0;
    width: 100%;
    color: black;
    @include breakpoint(xsmall) {
        padding: 0 1em;
    }
    @include breakpoint(small) {
        width: 750px;
    }
    @include breakpoint(medium) {
        width: 970px;
    }
    @include breakpoint(large) {
        width: 1170px;
    }

} 